@import url("../../../fontawesome/css/all.css");
@import url("typography.css");

/* Reset */

* {
    padding: 0;
    margin: 0;
}

/* Layout */ 

body {
    max-width: 85em;
    margin: 0 auto;
}

.main {
    padding-top: 5em;
}

/* task specific */ 

ul {
    list-style-type: none;
}

i {
    padding-right: 0.3em;
}