@import url("typography.css");

/* Reset */

* {
    padding: 0;
    margin: 0;
}

/* Layout */

body {
    max-width: 90em;
    margin: 0 auto;
}

/* Task specific */

.site-header {
    margin-top: 2em;
    border-bottom: 2px solid #000;
}

.site-header h1 {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    margin-right: 1.5em;
}

/* Navigation */

.site-header .site-nav {
    display: inline-block;
}

.site-nav ul li {
    display: inline-block;
    padding: 0.5em;
}

.site-nav a {
    display: block;
    text-decoration: none;
    color: #090;
    padding: 0.5em 1em;
}


.site-nav a:hover {
    background-color: #090;
    color: #fff;
}